# SETS

In [1]:
set_var = set()
print(set_var)
type(set_var)

set()

set

In [2]:
set_var = {1,1,12,3,5,6,4,4,4,7}

In [3]:
print(set_var)

{1, 3, 4, 5, 6, 7, 12}

In [4]:
# Inbuilt function
set_var.add("hello")

In [5]:
set_var

{1, 12, 3, 4, 5, 6, 7, 'hello'}

In [21]:
set_1 = {"eve","john","miller","ace"}
set_2 ={"eve","john","miller","keppler"}

In [22]:
set_2.difference(set_1)

{'keppler'}

In [23]:
set_2.intersection(set_1)

{'eve', 'john', 'miller'}

In [25]:
set_1.remove("ace")

KeyError: 'ace'

In [26]:
set_1

{'eve', 'john', 'miller'}

# Dictionary

In [27]:
dic = {}
type(dic)

dict

In [28]:
my_dict = {"car1":"Audi", "Car2":"Merc", "car3":"lambo"}

In [29]:
my_dict

{'car1': 'Audi', 'Car2': 'Merc', 'car3': 'lambo'}

In [31]:
type(my_dict)

dict

In [33]:
# Accessing the value
my_dict["car1"]

'Audi'

In [34]:
# Loop through the keys
for a in my_dict:
    print(a)

car1
Car2
car3

In [36]:
#loop through the value
for a in my_dict.values():
    print(a)

Audi
Merc
lambo

In [37]:
#Loop through key value pairs
for a in my_dict.items():
    print(a)

('car1', 'Audi')
('Car2', 'Merc')
('car3', 'lambo')

In [39]:
# Adding items to dictionary

my_dict["car4"] = "Audi2.0"

In [40]:
my_dict

{'car1': 'Audi', 'Car2': 'Merc', 'car3': 'lambo', 'car4': 'Audi2.0'}

In [41]:
my_dict["car1"] = "JCB"

In [42]:
my_dict

{'car1': 'JCB', 'Car2': 'Merc', 'car3': 'lambo', 'car4': 'Audi2.0'}

# Nested Dictionary

In [43]:
car1_model = {"merc":1960}
car2_model = {"Audi":1970}
car3_model = {"Maruti":1980}

In [44]:
car_type = {"car_1":car1_model, "car_2":car2_model, "car_3":car3_model}

In [45]:
print(car_type)

{'car_1': {'merc': 1960}, 'car_2': {'Audi': 1970}, 'car_3': {'Maruti': 1980}}

In [48]:
# Accessing the items in dictionary

print(car_type["car_1"])

{'merc': 1960}

In [49]:
print(car_type["car_1"]['merc'])

1960

# Tuples

In [50]:
my_tuple = tuple()

In [51]:
type(my_tuple)

tuple

In [52]:
my_tuple = ()

In [53]:
type(my_tuple)

tuple

In [54]:
my_tuple = ("Rohan", "Hello", "Izod")

In [55]:
my_tuple[0]

'Rohan'

In [57]:
my_tuple[0] = "JayZ"

TypeError: 'tuple' object does not support item assignment

In [58]:
my_tuple = ("hello", "world")

In [59]:
my_tuple.count("hello")

1