# Map Function

In [3]:
def even_or_odd(num):
    if num%2 == 0:
        return ("The number {} is even".format(num))
    else:
        return ("The number {} is odd".format(num))

In [4]:
even_or_odd(33)

'The number 33 is odd'

In [5]:
even_or_odd(30)

'The number 30 is even'

In [6]:
lst = [1,2,3,4,5,6,7,8,9,34,22,36,78,99]

In [7]:
map(even_or_odd,lst)

In [8]:
list(map(even_or_odd,lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 34 is even',
 'The number 22 is even',
 'The number 36 is even',
 'The number 78 is even',
 'The number 99 is odd']